.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link {
        text-align: center;

        &+& {
            margin-left: 1rem;
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .nav {
        justify-content: flex-start;
        flex-direction: column;

        &__link {
            margin: 1rem 0;

            &+& {
                margin-left: 0;
            }
        }
    }
}