*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    position: relative;

    font-family: $lato;
    font-weight: $fw-regular;

    line-height: 150%;

    color: $primary-text-color;

    &.lock {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

@media screen and (max-width: $breakpoint-sm) {
    html {
        font-size: 16px;
    }
}