// Colors

$primary-text-color: #424242;
$dark-text-color: #292929;
$black-text-color: #000;
$white-text-color: #fff;

$green-color: #01996D;
$green-hover-color: #01845f;
$green-active-color: #016a4c;

$dark-green-color: #245852;
$translucent-green-text-color: rgba(1, 153, 109, 0.2);


// Font Sizes

$fs-large: 7.5rem;

$fs-h1: 3.25rem;
$fs-h2: 2.5rem;
$fs-h3: 1.5rem;

$fs-subtitle: 1.25rem;
$fs-regular: 1rem;


// Font Familes

$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', sans-serif;


// Font Weights

$fw-regular: 400;
$fw-bold: 700;


// Breakpoints

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;