.story {
    width: 100%;
    color: $white-text-color;
    background-color: $dark-green-color;

    padding: 10rem 0;

    &__inner {        
        display: grid;
        align-items: center;
        justify-content: space-between;

        gap: 2rem;
        grid-template-columns: 0.45fr 0.55fr;
    }

    &__content {
        max-width: 100%;
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        margin-bottom: 3rem;
    }

    &__video {
        max-width: 100%;
        border-radius: 0.75rem;
    }
}