.feature {
    &__header {
        position: relative;
        margin-bottom: 2.75rem;
    }

    &__count {
        font-size: $fs-large;
        font-family: $roboto;

        color: $translucent-green-text-color;
    }

    &__title {
        position: absolute;

        bottom: 0;
        left: 25%;
    }

    &__text {
        margin-bottom: 3rem;
    }

    &__img {
        width: 100%;
        max-width: 100%;

        height: auto;
        
        border-radius: 0.75rem;
    }
}